html, body, .header, .nav, .menu {
  min-width: 800px;
}

body {
  background-color: rgb(20 ,20,20,1);
  background-position:18% 50%;
  background-repeat: no-repeat;
  background-size: 2350px;

}

footer {
  width:60%;
  margin:auto;  
}

#logo {
  height: 60px;
  margin-left: 10px;
  margin-top: 10px;
  vertical-align: center;
  display:block;
  float:left;
}


.nav-items {
  background-color: rgb(0,0,0,0.8)!important;
  color:white;
}

.nav-items a {
  color:white;
  font-size: 25px;

}

.header {
  top:0px;
  position: fixed;
  width: 100%;
  background-color: rgb(20 ,20,20,1);
  color: white;
  font-family: museo, serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 300;
}

.title {
  font-size: 4rem;

}

.main-content-img {
  

}

.main-content{
  color: white;
  margin-top:90px;
  padding-bottom: 90px;
  background-image: url(../img/IMG_1711.jpg);
  background-position:0% 30%;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.bio-content {
  background-color: rgb(20 ,20,20,0.8);
  display: flex;
  width: 60%;
  color:white;
  font-weight: bold;
}

.bio-content p{
  font-size: 1.25vw;
  margin:auto;
  text-align: left;
  padding-right: 20px;
}

.production-content {
  color: white;
  padding-top:30px;
  background-color: rgb(20 ,20,20,0.8);
  margin:auto;
  text-align: center;
  width: 60%;

}

.production-content a {
  font-weight: bold;
  color: white;
}
.soundcloud {
  display:flex;
  justify-content: center;

}

.track {
  height: 70vh;
}

.track p {
  color: white;
}


.production-content iframe {
  margin:20px;
  border: 1px solid;
  padding: 10px;
  box-shadow:0px 20px 20px #555;
}

.audio-visual-content {
  padding:20px;
  background-color: rgb(20 ,20,20,0.8);
  width: 75%;
  color:white;
  font-weight: bold;
  text-align:center;
  margin:auto;
}

.videos {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

}

.videos div{
  max-width: 450px;
  text-align: center;
  padding: 10px;
}

.home-content {
  height: 100%;
  padding-top:150px;
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.testimonial h1 {
  text-align: right;
  color: #fff;
  order:0;
  margin-right: 20px;
  font-size: 3.5vw;

}

#testimonial-capt {

  font-size: 2vw;
}

.home-content iframe {
  min-width: 500px;
  order:0;
}

.mixing-mastering-content {
  padding:20px;
  background-color: rgb(20 ,20,20,0.8);
  width: 60%;
  color:white;
  font-weight: bold;
  font-size: 
  text-align:center;
  margin:auto;
}

.mixing-table {
  width: 100%;
}

.desc {
  padding:30px;
  margin:auto;
  justify-content: center;
  text-align: center;
  width: 30%;
}

.sound {
  width: 70%;
  padding-bottom: 10px;
}

.dj-content {
  padding: 40px;
  background-color: rgb(20 ,20,20,0.8);
  width:70%;
  margin:auto;

}

.top {
  width: 100%;
}

.top div {
  padding: 20px; 
  width: 38%;
    display:inline-block;

}

#img-cont {
  float: right;
  width: 58%;
  height:100%;
}

.dj-content img {
  width: 100%;
}

#festival {
  text-align: center;
  height: 100%;
}

.mix {
  margin: auto;
  width: 100%;
  padding-top: 20px;
}


.flex-center {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-3d {
  padding: 10px;
  -webkit-animation: icon3d 200ms 10;
  animation: icon3d 200ms 10;
  color: #fff;
}
.icon-3d:hover {
  -webkit-animation: icond3d 200ms infinite;
  animation: icon3d 200ms infinite;
}

@keyframes icon3d {
  0% {
    text-shadow: 5px 4px #f44336, -5px -6px #2196f3;
  }
  25% {
    text-shadow: -5px -6px #f44336, 5px 4px #2196f3;
  }
  50% {
    text-shadow: 5px -4px #f44336, -8px 4px #2196f3;
  }
  75% {
    text-shadow: -8px -4px #f44336, -5px -4px #2196f3;
  }
  100% {
    text-shadow: -5px 0 #f44336, 5px -4px #2196f3;
  }
}


/***********************************/

.gallery { 
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    margin-top: 10px;
    overflow: hidden;
}

.gallery img { 
    width: 100%; 
    height: auto;
    transition: 500ms;
    margin-bottom: 10px;
    page-break-inside: avoid; /* For Firefox. */
    -webkit-column-break-inside: avoid; /* For Chrome & friends. */
    break-inside: avoid; /* For standard browsers like IE. :-) */
}

.gallery img:hover {
    opacity: 1;
}

/* .modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: center;
} */

.modal-img,.model-vid{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table
}
.modal-body{
  padding: 0px;
}

.modal-dialog {
  max-width:80%!important;
  height: 100%;
      position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
  border: none;
}

@media screen and (max-width: 767px) {
  .gallery { 
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
  .gallery div { margin: 0; 
        width: 200px;
    }
  .modal-dialog {
        margin: 0 8vw;
        max-width:80%!important;
    }
}

@media screen and (max-width: 479px) {
    .gallery { 
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    .gallery div { 
        margin: 0; 
        width: 200px;
    }
}


/**********************************/

/* Clearing floats */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* Mini reset, no margins, paddings or bullets */
.menu,
.submenu {
  margin: auto;
  padding: 0;
  list-style: none;
}

ul {
}
/* Main level */
.menu {    
  margin-left: -15%; 
  min-width: 150vw!important;


}

.menu > li {
  display: inline;
  margin-left: 4px;
  width: 16vw;
  background: #333;
  float: left;
  position: relative;
  transform: skewX(25deg);
}

#nogap {
  margin-left: 0px!important;
}

.menu a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial, Helvetica;
  font-size: 14px;
}   

.menu li:hover {
  background: #e74c3c;
}   

.no-high:hover {
  background: #333;
}

.menu > li > a {
  transform: skewX(-25deg);
  padding: 1em 2em;
  width: 100%;
  display: block;
}

/* Dropdown */
.submenu {
  position: absolute;
  margin-left:5px;
  transform: skewX(-25deg);
  transform-origin: left top;
}

.submenu li {
  background-color: #34495e;
  position: relative;
  overflow: hidden;   
}           

.submenu > li > a {
  padding: 1em 2em;     
}

.submenu > li::after {
  content: '';
  position: absolute;
  top: -125%;
  height: 100%;
  width: 100%;      
  box-shadow: 0 0 50px rgba(0, 0, 0, .9);     
}   

/* Odd stuff */
.submenu > li:nth-child(odd){
  transform: skewX(-25deg) translateX(0);
}

.submenu > li:nth-child(odd) > a {
  transform: skewX(25deg);
}

.submenu > li:nth-child(odd)::after {
  right: -50%;
  transform: skewX(-25deg) rotate(3deg);
}       

/* Even stuff */
.submenu > li:nth-child(even){
  transform: skewX(25deg) translateX(0);
}

.submenu > li:nth-child(even) > a {
  transform: skewX(-25deg);
}

.submenu > li:nth-child(even)::after {
  left: -50%;
  transform: skewX(25deg) rotate(3deg);
}

/* Show dropdown */
.submenu,
.submenu li {
  opacity: 0;
  visibility: hidden;     
}

.submenu li {
  transition: .2s ease transform;
}

.menu > li:hover .submenu,
.menu > li:hover .submenu li {
  opacity: 1;
  visibility: visible;
}   

.menu > li:hover .submenu li:nth-child(even){
  transform: skewX(25deg) translateX(15px);     
}

.menu > li:hover .submenu li:nth-child(odd){
  transform: skewX(-25deg) translateX(-15px);     
}

/*****************/
section {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #B6B6B6;
  margin: auto;
  text-align: center;
  width: 80%;
  max-width: 1100px;
}
section h1 {
  margin-bottom: 40px;
  font-size: 4em;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

form {
  width: 58.3333333333%;
  margin: 0 auto;
}
form .field {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}
form .field label {
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  background: #313A3D;
  width: 100%;
  padding: 18px 0;
  font-size: 1.45em;
  letter-spacing: 0.075em;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field label + span {
  font-family: 'SSStandard';
  opacity: 0;
  color: white;
  display: block;
  position: absolute;
  top: 12px;
  left: 7%;
  font-size: 2.5em;
  text-shadow: 1px 2px 0 #cd6302;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field input[type="text"],
form .field textarea, form .field select {
  border: none;
  background: #E8E9EA;
  width: 100%;
  margin: 0;
  padding: 18px 0;
  padding-left: 19.5%;
  color: #313A3D;
  font-size: 1.4em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.field select {
    height: 56.8px;


}
form .field input[type="text"]#msg,
form .field textarea#msg, form .field select#msg {
  height: 56.8px;
  resize: none;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field input[type="text"]:focus, form .field input[type="text"].focused,
form .field textarea:focus,
form .field textarea.focused, form .field select:focus, form .field select.focused {
  outline: none;
}
form .field input[type="text"]:focus#msg, form .field input[type="text"].focused#msg,
form .field textarea:focus#msg,
form .field textarea.focused#msg, form .field select:focus#msg, form .field select.focused#msg {
  padding-bottom: 150px;
}
form .field input[type="text"]:focus + label, form .field input[type="text"].focused + label,
form .field textarea:focus + label,
form .field textarea.focused + label, form .field select:focus + label, form .field select.focused + label {
  width: 18%;
  background: #FD9638;
  color: #313A3D;
}
form .field input[type="text"].focused + label,
form .field textarea.focused + label, form .field select.focused + label {
  color: #FD9638;
}
form .field:hover label {
  width: 18%;
  background: #313A3D;
  color: white;
}
form input[type="submit"] {
  background: #FD9638;
  color: white;
  -webkit-appearance: none;
  border: none;
  text-transform: uppercase;
  position: relative;
  padding: 13px 50px;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form input[type="submit"]:hover {
  background: #313A3D;
  color: #FD9638;
}
form input[type="submit"]:focus {
  outline: none;
  background: #cd6302;
}


/******************************/